<div class="disclaimer"><div>
  <strong>Lytinės disforijos biblija yra gyvas dokumentas</strong>
  <p>Šios svetainės turinys laikui bėgant keičiasi. Nauji papildymai ir pakeitimai skirti sužinoti daugiau ir geriau pažinti lytinę disforiją. Šiuo metu mums labai trūksta informacijos apie nedvinarių (non-binary), belyčių (agender) ir genderfluid žmonių disforiją, taip pat apie trečiąją lytį ir dviejų-dvasių naratyvus. Lytinės disforijos biblija yra atviras ir viešai finansuojamas projektas, <a href="/contributing/">Jūsų pagalba labai laukiama</a>.</p>
</div></div>
