
<a href="/en/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">Lyties disforijos biblija</a>
<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="/en/printable"                class="{{#is meta.url '/en/printable'               }}active {{/is}}dropdown-item">Peržiūrėti viską</a>
  <a href="/gdb.pdf"                     class="dropdown-item">Atsisiųsti PDF {{icon 'pdf' size="1em" style="vertical-align:middle;margin-bottom:3px;"}} </a>
  <hr class="dropdown-divider">
  <a href="/en/"                         class="{{#is meta.url '/en/index' '/'               }}active {{/is}}dropdown-item">Įžanga</a>
  <a href="/en/what-is-gender"           class="{{#is meta.url '/en/what-is-gender'          }}active {{/is}}dropdown-item">Kas yra lytis?</a>
  <a href="/en/history"                  class="{{#is meta.url '/en/history'                 }}active {{/is}}dropdown-item">Lytinės disforijos istorija</a>
  <a href="/en/euphoria"                 class="{{#is meta.url '/en/euphoria'                }}active {{/is}}dropdown-item">Lyties euforija</a>
  <a href="/en/physical-dysphoria"       class="{{#is meta.url '/en/physical-dysphoria'      }}active {{/is}}dropdown-item">Fizinė disforija</a>
  <a href="/en/biochemical-dysphoria"    class="{{#is meta.url '/en/biochemical-dysphoria'   }}active {{/is}}dropdown-item">Biocheminė disforija</a>
  <a href="/en/social-dysphoria"         class="{{#is meta.url '/en/social-dysphoria'        }}active {{/is}}dropdown-item">Socialinė disforija</a>
  <a href="/en/societal-dysphoria"       class="{{#is meta.url '/en/societal-dysphoria'      }}active {{/is}}dropdown-item">Visuomeninė disforija</a>
  <a href="/en/sexual-dysphoria"         class="{{#is meta.url '/en/sexual-dysphoria'        }}active {{/is}}dropdown-item">Seksualinė disforija</a>
  <a href="/en/presentational-dysphoria" class="{{#is meta.url '/en/presentational-dysphoria'}}active {{/is}}dropdown-item">Savęs pateikimo disforija</a>
  <a href="/en/existential-dysphoria"    class="{{#is meta.url '/en/existential-dysphoria'   }}active {{/is}}dropdown-item">Egzistensinė disforija</a>
  <a href="/en/managed-dysphoria"        class="{{#is meta.url '/en/managed-dysphoria'       }}active {{/is}}dropdown-item">Suvaldyta disforija</a>
  <a href="/en/impostor-syndrome"        class="{{#is meta.url '/en/impostor-syndrome'       }}active {{/is}}dropdown-item">Apgaviko sindromas</a>
  <a href="/en/am-i-trans       "        class="{{#is meta.url '/en/am-i-trans'              }}active {{/is}}dropdown-item">Ar aš trans?</a>
  <a href="/en/diagnoses"                class="{{#is meta.url '/en/diagnoses'               }}active {{/is}}dropdown-item">Klinikinės diagnozės</a>
  <a href="/en/treatment"                class="{{#is meta.url '/en/treatment'               }}active {{/is}}dropdown-item">Lytinės disforijos gydymas</a>
  <a href="/en/causes"                   class="{{#is meta.url '/en/causes'                  }}active {{/is}}dropdown-item">Lytinės disforijos priežastys</a>
  <a href="/en/chromosomes"              class="{{#is meta.url '/en/chromosomes'             }}active {{/is}}dropdown-item">Chromosomos</a>
  <a href="/en/hormones"                 class="{{#is meta.url '/en/hormones'                }}active {{/is}}dropdown-item">Kaip veikia hormonai</a>
  <a href="/en/second-puberty-masc"      class="{{#is meta.url '/en/second-puberty-masc'     }}active {{/is}}dropdown-item">Androgeninio antrojo brendimo DUK</a>
  <a href="/en/second-puberty-fem"       class="{{#is meta.url '/en/second-puberty-fem'      }}active {{/is}}dropdown-item">Estrogeninio antrojo brendimo DUK</a>
  <a href="/en/conclusion"               class="{{#is meta.url '/en/conclusion'              }}active {{/is}}dropdown-item">Išvados</a>
</div>
